body {
    background: #0f172a;
    font-family: Arial;
}

.login-box {
    width: 350px;
    margin: 120px auto;
    padding: 30px;
    background: #020617;
    border-radius: 10px;
    box-shadow: 0 0 20px #38bdf8;
    text-align: center;
}

.login-box h2 {
    color: #38bdf8;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #38bdf8;
    font-weight: bold;
    cursor: pointer;
}

.error {
    color: red;
    font-weight: bold;
}

.msg {
    color: #22c55e;
}
